  #mapage {            /*Pour le desktop : résolution de la taille minimale et maximale*/
    max-width: 1400px;
    min-width: 992px;
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
  }

  /*Ci-dessous sont regrupés le css qui se répète plusieurs fois dans ma page*/
  main h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
  }

  h2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color:black;
  }
  
  p,li{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:black;
  }

  #cardshebergementsetlespluspopulaires p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:black;
  }

  /* Partie en-tête de ma page avec le logo et la barre de navigation*/
  header img{
    width : 61.09px;
    height : 19px;
  } 

  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav a{
    margin-left: 5px;
    margin-right: 77px;
  }

  #lienheader a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color:black;
  }

  #lienheader a:hover{
    border-top: 2px #0065FC solid;
    font-family: 'Raleway', sans-serif;
    color:#0065FC;
  }

  /*Partie du corps de ma page avec 3 sections*/
  main{
    margin : 63px 0px 60px 0px;
  }
  /*Première section*/
  #rechercheetfiltres p{
    margin-top: 0px;  /* marge en haut de 0px */
    margin-bottom: 30px; /* marge en bas de l'élément p espacée de 30px par rapport à l'élément du dessous la barre de recherche  */
  }

  #barrederecherche{   /*  cadre de la zone de recherche  */
    display: flex;
    margin-bottom: 30px;  /* marge en bas du cadre de la zone de recherche espacée de 25px par rapport à l'élément du dessous zone des filtres  */
  }

  #zoneicone{
    position: relative;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
  }

  .fa-location-dot{
      position:absolute;
      padding-top: 15px;
      padding-left: 18px;
      font-size: 1.2em;
  }

  #saisie{     /*ici la zone de la saisie de notre recherche de la ville de notre hébergement*/
    width:280px;
    height: 49px;
    margin-top: 0px; /* marge en haut de 0px */
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #F2F2F2;
  }

  input:focus {
    outline:  none;
  }

  #bouton{    /* bouton cliquable pour valider notre recherche */
    width: 132px;
    height: 49px;
    margin-top: 0px;  /* marge en haut de 0px */
    color:#FFFFFF;
    font-size: 18px;
    background-color:#0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
  }

  #bouton:hover{
    cursor: pointer;
  }

  #zonedesfiltres{ /*  cadre de la zone des filtres*/
    display:flex;  /* on utilise flexbox pour que la zone des filtres se mette en ligne */
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-left: 10px;  /* espace les éléments de la zone des filtres sur la gauche*/
    margin-bottom: 40px;
  }

    
  #filtre{
    margin-right: 35px;  /* marge à droite pour espacer les boutons de filtres du titre filtre*/
    font-family: 'Raleway' ,  sans-serif;
    font-weight: 700;
    font-size: 18px;
  }
  
  .boutondefiltres{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background : #FFFFFF;
    height: 38px;
  }

  .boutondefiltres:hover{
    background-color: #DEEBFF;
    cursor: pointer;
  }

  #economique{
    width: 170px;
  }

  #familial{
    width: 140px;
  } 
    
  #romantique{
    width: 170px;
  }

  #animauxautorises{
    width: 220px;
  }

  button{
    margin-right: 60px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 17px;
  }

  button i{
    color:#0065FC;
    font-size: 1.1em;
    padding-right: 5px;
  }
  
  .fa-info{
    color: #0065FC;
    font-size: 0.7em;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    margin: 0px 10px 10px 10px;
    padding: 6px 10px 6px 10px;
  }

  /*Deuxième section*/
  #hebergements{
    margin: 0px 0px 40px 0px;
    padding: 8px 45px 0px 45px;
    background: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: 65%;
  }

  #hebergements h1{
    padding-left: 8px;
  }

  .disposition-cardshebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
  }

  .cardhebergements{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 31%;
  }

  .cardhebergements img{
    width: 96%;
    height: 150px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
  }

  .container{
    text-decoration: none;
    padding-left: 13px;
    padding-right: 18px;
    margin-bottom: 7px;
  }

  .container h2,.container p{
    margin: 0px;
    padding-bottom: 2px;
   }

  #afficherplus{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 18px;
  }

  .cardhebergements a{
    text-decoration: none;
  }

  #afficherplus a{
    text-decoration: none;
    color: #000000;
  }

  #lespluspopulaires{
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding-top: 8px;
    padding-left: 45px;
    padding-right: 45px;
    background: #F2F2F2;
    border-radius: 20px;
    width: 25%;
    height: 65%;
    
  }

  #lespluspopulaires h1{
    padding-left: 8px;
  }

  .fa-chart-line{
    padding-left: 90px;
    color: #0065FC;
  }

  .disposition-cardspopulaires{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .cardspopulaires{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-left: 2px;
    margin-bottom:35px;
    height: 35%;
  }

  .cardspopulaires img{
    width: 35%;
    height: 141px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 1px;
  }

  .containerpopulaires{
    text-decoration: none;
    padding-left: 7px;
  }

  .containerpopulaires h2{
    margin-top: 12px;
    margin-bottom: 2px;
   }

  .containerpopulaires p{
    margin:0px;
    padding-bottom: 70px;
  }

  /*.containerpopulaires+p:nth-last-child(2){
    padding-bottom: 40px;
  }*/

  .cardspopulaires a{
    text-decoration: none;
    display: flex;
  }

  .fa-star{
    color:#0065FC;   
    font-size: 0.8em;
  }

  .fa-star:last-child{
    color: #D9D9D9;
  }

  #cardshebergementsetlespluspopulaires{
    display: flex;
    justify-content: space-between;
  }

  /*Troisième section*/
  #activites{
    margin-top: 0px;
    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    height: 50%;
  }

  #activites h1{
    padding-left: 8px;
  }

  .disposition-cardsactivites{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .cardsactivites{
    box-shadow: 0px 6px 3px rgba(189, 185, 185, 0.21);
    border-radius: 20px;  /*arrondie des cards activites*/
    width: 23%;   /*largeur des cards activités*/
  }

  .cardsactivites img{
    width: 100%;
    height: 89%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  .cardsactivites a{
    text-decoration: none;
  }

  .containeractivites{
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
  }

  .containeractivites h2{
    padding-left: 7px;
    margin-top: 10px;
  }

  footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
   }

  footer h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0px;
  }

  ul{
    padding-left: 0px;
  }

 li{
    list-style-type: none;
    padding-bottom: 10px;
  }

  .bloc{
    display: flex;
    flex-direction: column;
    padding-right: 200px;
  }

  
